.customer-data-page .project-tag {
  color: rgb(181, 126, 80);
}

.customer-data-page .image-container {
  width: 400px;
}

.customer-data-page header .container {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .customer-data-page .image-container {
    width: 220px;
  }
}
